/* Nouveau fichier CSS - pour version carte Bootstrap */

#map{
	width:100%;
	height:100%;
}
#cadre_map{
	height: 650px;
}

.vignette{
	width: 33.3333%;
	cursor: pointer;
}

.apercu {
	width: 100%;
}

 label{
	font-weight: normal;
}

.text-long, p{
	text-align: justify;
}
